.storybook-header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.storybook-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.storybook-header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

.storybook-header button + button {
  margin-left: 10px;
}

.storybook-header .welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
.dropwdown{
  position: absolute;
  right: 20px;
  top: 50px;
}
.storybook-menu{
  display: flex;
  flex-direction: row;
}

.storybook-lists{
  background-color:#FFFFFF;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  padding:0;
}